.banner {
  
      background-image: url("../Assets/Banner/homeBanner.png");
      position: relative;
      background-position: center;
      height: 223px;
      display: grid;
      margin: auto;
      place-items: center;
      color: white;
      border-radius: 25px;
      background-size: cover;
      
    
}

.banner::before {
    position: absolute;
    background: #000000;
    content: "";
    inset: 0;
    border-radius: 25px;
    opacity: 0.3;
}

.banner_text {
    
    position: relative;
    font-style: normal;
    font-size: 48px;
    font-weight: 500;
    align-items: center;
    color:#FFFFFF;
}

/* Mobile */
@media only screen and (width <= 768px) {
    .banner{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 140px;
    }

    
}

@media only screen and (width <= 480px) {
    .banner {
         
          height: 111px;
    }
    .banner_text {
          font-size: 24px;
        
    }
}







