.carrousel {
    position: relative;
    height: 415px;
    width: 100%;
    margin-top: 30px;
}

.carrousel p {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-top: 340px;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}

.ImageSlider {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    inset: 0;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0px 0px 24px #b3b1b1;
}

.carrousel button {
    border: none;
    background-color: transparent;
    display: hidden;
    color: #fff;
}

.previous_slide {
    position: absolute;
    content: "";
    color: #fff;
    inset: 0;
    top: 40%;
    cursor: pointer;
    left: 0;
}

.next_slide {
    position: absolute;
    content: "";
    inset: 0;
    top: 40%;
    cursor: pointer;
    left: calc(100% - 50px);
}


@media only screen and (width<=768px) {

    .carrousel {
        height: 255px;
    }
    

    .previous_slide { 
        height: 30px; 
    }
    
    .next_slide {
        height: 30px;
        left: calc(100% - 20px)        
    }
   
    .carrousel p {
        margin-top: 200px;

    }

    .Count p {
       font-size: 12px;
    }
}