.collapse{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.visible.collapse ul {
    color:#FF6060;
    padding: 36px 27px 19px 18px;
    margin: 0;
    text-align: justify;
    list-style-type: none;
}

.collapse_header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color:white;
    height:47px;
    background-color:#FF6060;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.collapse_header h2{
    font-size: 18px;
    font-weight: 500;
    padding-right: auto;
}
/* affiche le contenu */
.visible {
    display: block;
}

/* cache le contenu */
.hidden {
    display: none;
}

.collapseChevron{
    width: 32px;
    height: 32px;
}

.visible.collapse {
    position: relative;
    top: -10px;
    font-size: 18px;
    color: #FF6060;
    background-color: #f7f7f7;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(193, 191, 191);
    z-index: -1;    /* passe la zone de contenu sous la zone de titre*/
}


@media screen and ( width <=768px) {
   
    .visible.collapse ul {
        font-size: 12px;
        padding: 23px 7px 5px 11.5px; 
    }
}
@media screen  and (width <= 480px){
    .collapse_header{
        height: 30px;
    
    }
    .collapse_header h2{
        font-size: 13px;
    }
    
    .collapseChevron{
        width: 18px;
        height:18px;
    }
}