.collapse{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.visible.collapse ul {
    color:#FF6060;
    padding: 36px 27px 19px 18px;
    margin: 0;
    text-align: justify;
    list-style-type: none;
}

.collapse_header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color:white;
    height:47px;
    background-color:#FF6060;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.h2{
    padding-right: auto;
}
/* affiche le contenu */
.visible {
    display: block;
}

/* cache le contenu */
.hidden {
    display: none;
}

.chevronValue img{
    width: 32px;
    height: 32px;
}

.visible.collapse {
    position: relative;
    top: -10px;
    font-size: 18px;
    color: #FF6060;
    background-color: #f7f7f7;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(193, 191, 191);
    z-index: -1;    /* passe la zone de contenu sous la zone de titre*/
}


@media (max-width: 768px) {
    .collapse__header {
        font-size: 13px;
        height: 20px;
    }
    .visible.collapse ul {
        font-size: 12px;
        padding: 23px 7px 5px 11.5px; 
    }
}