.footer{
      text-align: center;
      background-color: black;
      padding:0;
      height: 209px;
      margin-top: 0 auto;
}

.footer_logo {
      margin-top: 10px;
}


.footer_text {
      color: white;
      font-size: 24px;
}

/*Mobile*/
@media screen  and (width <=480px) {
    .footer{
      width:100%;
      margin-right: 0;
    }  
}