.navbar {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: auto;
  height: 68px;
  margin-top: 10px;
  
}

.navbar nav a {
  display: flex;
  color: #ff6060;
  text-decoration: none;
  font-size: 24px;
}

.navbar ul {
    display: flex;
    padding: 0px;
    gap: 57px;
    list-style: none;
}

.navbar ul li:hover { 
    cursor: pointer; 
    text-shadow: 0px 0px 2px rgba(244, 5, 5, 0.418);
}


@media (max-width: 768px) {
    .navbar nav a 
    { text-transform: uppercase; 
     font-size: 12px; 
     padding-right: 10px;
    }
    .navbar ul {    gap: 10px; }
    .navbar img {   height: 45px; }
    .navbar nav {   justify-content: center; }
}

