.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header_figure img{
    display: flex;
    align-items: flex-start;
    margin: 0;
    width: 13.2rem;

}


/* Responsive: tablette */
@media only screen and (width <= 768px) {
    .header {
          width: 100%;
    }
    
}

/*Mobile*/
@media screen and (width<= 480px) {
    
    .header_figure img {
        width: 145px;
        
    }
}
