html {
    overflow: scroll;
}

.home {
    margin: 0;
}

/* Mobile */
@media only screen and (width <= 768px) {
    .home {
        padding-inline: 0;
    }
}
@media only scree and (width<= 480px) {
   .home {
        max-width: 100%;
    }
}