.main{
    color: #FF6060;
    font-family: "Montserrat", sans-serif;
    margin:0 auto;
    padding: 3rem 0;
    max-width: 1240px;
   
   
}
 @media screen and (width<=480px){
    .main{ 
       margin: 10px;
       padding: 10px;
    }
 }