.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 2rem;
    font-weight: 400;
    min-width: 20%;
    margin-right: 2px;
    font-style: normal;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.navbar a {
    text-decoration: none;
    color: #ff6060;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a.active {
    text-decoration: underline;
}

@media only screen and (width <= 768px) {
    .navbar {
          width: 130px;
          gap: 0;
          
    }
    .navbar a {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500;
          min-width: 3.5rem;
    }
}