.navbar{ 
    display: flex;
    gap:50px;
    font-size: 24px;
    padding-right: 7%;
    
}


.navbar_navLink_home,.navbar_navLink_about{
    text-decoration: none;
    color: #ff6060;
    padding-left: 0.8rem;
    
}


.navbar a:hover {
    text-decoration: underline;
}

.navbar a.active {
    text-decoration: underline;
}

@media only screen and (width <= 480px) {
    .navbar {
    
          gap:20px;
    }

    .navbar_navLink_home,.navbar_navLink_about{
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500;
          padding-left: 0.8rem;
        
    }
}